<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="Stylesheet" href="https://ianlunn.github.io/Hover/css/hover.css" type="text/css" />
    <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
    <link rel="stylesheet" href="/css/hcss.css">
    <link rel="stylesheet" href="/../static/css/hcss.css">

</head>
<body>
<div th:replace="HOME :: mynav"></div>

<form class="container" action="#" th:action="@{/itemform}" th:object="${item}" method="post">

    <div class="form-group">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label>Image</label>
            <input type="url" class="form-control" th:field="*{image}"  placeholder="Enter image link" >
            <span th:if="${#fields.hasErrors('image')}"
                  th:errors="*{image}"></span><br /> </div>

        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" th:field="*{title}" placeholder="lost item" >
            <span th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}"></span><br /> </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" th:field="*{description}" placeholder="describe the lost item" >
            <span th:if="${#fields.hasErrors('description')}"
                  th:errors="*{description}"></span><br /> </div>

        <div class="form-group">
            <label>Category</label>
            <select  th:field="*{category}" name="category">
                <option value="Pets"> Pets</option>
                <option value="Cloth"> Cloth</option>
                <option value="Other"> Others</option>
            </select>
        </div>

        <div class="form-group">
            <label>Select User To Post For</label>
        <select th:object="${regUsers}"/>
        <option th:each="user : ${regUsers}" ></option>
        </div><br/><br/>
        <div>
        <input type="submit" value="Submit" />
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>