<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/tcss.css">
    <link rel="stylesheet" href="/../static/css/tcss.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="Stylesheet" href="https://ianlunn.github.io/Hover/css/hover.css" type="text/css" />
    <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
    <link rel="stylesheet" href="/css/hcss.css">
    <link rel="stylesheet" href="/../static/css/hcss.css">
</head>

<body>

<div th:replace="HOME :: mynav"></div>

<div class="table-title">
    <h3>Lost Items</h3>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-left">Image</th>
        <th class="text-left">Title</th>
        <th class="text-left">Category</th>
        <th class="text-left">Description</th>
        <th class="text-left">Owner</th>
        <th class="text-left">Status</th>
        <th:block sec:authorize="hasAuthority('ADMIN')">
            <th class="text-left">Action</th>
        </th:block>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr th:inline="text" th:each="item : ${items}">
        <td class="text-left"> <img th:src="${item.image}" width="80" height="80"/></td>
        <td class="text-left">[[${item.title}]]</td>
        <td class="text-left">[[${item.category}]]</td>
        <td class="text-left">[[${item.description}]]</td>
        <td class="text-left">[[${item.auser.getFirstName()}]]</td>
        <td class="text-left">[[${item.getStatus()}]]</td>
        <th:block sec:authorize="hasAuthority('ADMIN')">
            <td class="text-left"><a th:href="@{/update/item/{id}(id=${item.id})}">edit status</a></td>
        </th:block>

    </tr>

    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>
</html>